.place__image {
    max-width: 460px;
    max-height: 460px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media (max-width: 860px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}


@media (max-width: 754px) {
    .place__image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 635px) {
    .place__image {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .place__image {
        margin: 0;
        min-width: 320px;
        min-height: 320px;
    }
}