.lead__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 720px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-style: normal;
    margin: 0;
}

@media (max-width: 690px) {
    .lead__title {
        font-size: 60px;
        line-height: 75px;
    }
}

@media (max-width: 460px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}