.place__paragraph {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

@media (max-width: 620px) {
    .place__paragraph {
        text-align: inherit;
        max-width: 596px;
    }
}

@media (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin-left: 16px;
    }
}