.intro__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 54px;
    line-height: 58px;
    font-style: normal;
    margin: 0;
}

@media (max-width: 400px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}